[Unit]
Description=uWSGI instance to serve My IP
After=network.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /var/www/MyIP/MyIP.ini

[Install]
WantedBy=multi-user.target
